<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMGITSSHAHG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Poucho Bhai Sawaal</h1>
        <form action="/search" method="post">
            <input type="text" name="query" placeholder="Type your query...">
            <button type="submit">Search</button>
        </form>

        <p>Total questions asked: {{ question_counter }}</p>
        <p>Total number of listings: {{ count }}</p>
        
        {% if query %}
            <div class="result">
                <h2>All Search Results:</h2>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <!-- 'ID', 'Name', 'Price', 'Company', 'Seller Rating', 'Reviews Score' -->
                            <th>ID</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Company</th>
                            <th>Seller Rating</th>
                            <th>Score</th>


                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                            <tr>
                                <td>{{ result['ID'] }}</td>
                                <td>{{ result['Name'] }}</td>
                                <td>{{ result['Price'] }}</td>
                                <td>{{ result['Company'] }}</td>
                                <td>{{ result['Seller Rating'] }}</td>
                                <td>{{ result['Reviews Score'] }}</td>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
</body>
</html>
